In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, 1543449657796, 73, 'paid', None, None, 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (2, 1543449690796, 24, 'paid', None, None, 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (3, 1543449841796, 24, 'paid', None, None, 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (4, 1543449895796, 73, 'paid', None, None, 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (5, 1543450033796, 24, 'paid', None, None, 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [4]:
%sql select count(*) from songplays;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6820,)]

In [5]:
%sql select * from songplays where artist_id!='None';

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(5662, 1542837407796, 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [6]:
%sql select * from songplays where song_id!='None';

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(5662, 1542837407796, 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [7]:
%sql select title, song_id, s.artist_id, a.artist_id, a.name from songs s inner join artists a on s.artist_id=a.artist_id where s.song_id in (select song_id from songplays where song_id!='None');

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('Setanta matins', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 'AR5KOSW1187FB35FF4', 'Elena')]

In [8]:
%sql select count(*) from songs;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(71,)]

In [9]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOFNOQK12AB01840FC', 'Kutt Free (DJ Volume Remix)', 'ARNNKDK1187B98BBD5', 0, 407),
 ('SOBAYLL12A8C138AF9', 'Sono andati? Fingevo di dormire', 'ARDR4AC1187FB371A1', 0, 511),
 ('SOFFKZS12AB017F194', 'A Higher Place (Album Version)', 'ARBEBBY1187B9B43DB', 1994, 236),
 ('SOGVQGJ12AB017F169', 'Ten Tonne', 'AR62SOJ1187FB47BB5', 2005, 338),
 ('SOXILUQ12A58A7C72A', 'Jenny Take a Ride', 'ARP6N5A1187B99D1A3', 2004, 207)]

In [10]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(73, 'Jacob', 'Klein', 'M', 'paid'),
 (24, 'Layla', 'Griffin', 'F', 'paid'),
 (50, 'Ava', 'Robinson', 'F', 'free'),
 (54, 'Kaleb', 'Cook', 'M', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free')]

In [11]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', '45.80726', '15.967600000000001'),
 ('ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', 'NaN', 'NaN'),
 ('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', 'NaN', 'NaN'),
 ('AR62SOJ1187FB47BB5', 'Chase & Status', '', 'NaN', 'NaN'),
 ('ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', 'NaN', 'NaN')]

In [12]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, 1543449657796, 0, 29, 48, 11, 2018, 3),
 (2, 1543449690796, 0, 29, 48, 11, 2018, 3),
 (3, 1543449841796, 0, 29, 48, 11, 2018, 3),
 (4, 1543449895796, 0, 29, 48, 11, 2018, 3),
 (5, 1543450033796, 0, 29, 48, 11, 2018, 3)]

In [13]:
%sql select count(*) from artists a full outer join songs s on a.artist_id=s.artist_id limit 20;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(71,)]

In [14]:
%sql select count(*) from logdata where song is not null;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6820,)]

## Validation of number of records in songplays
After running etl.py, songplays has only one record with non null song_id and artist_id. To check if this is accurate, I created a log data table to save the data from the logs.

In [15]:
%sql select * from logdata limit 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, 1543449657796, 73, 'paid', "Ain't No Sunshine", 'Sydney Youngblood', Decimal('238.07955'), 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (2, 1543449690796, 24, 'paid', 'My Advice 2 You (Explicit)', 'Gang Starr', Decimal('151.92771'), 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (3, 1543449841796, 24, 'paid', 'My First Kiss (Feat. Ke$ha) [Album Version]', '3OH!3', Decimal('192.522'), 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (4, 1543449895796, 73, 'paid', 'The Girl and The Robot', 'RÃ\x83Â¶yksopp', Decimal('369.81506'), 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (5, 1543450033796, 24, 'paid', 'Too Shy', 'Kajagoogoo', Decimal('223.55546'), 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

### Find out how many songs from log files are actually present in the songs table.

In [16]:
%sql select * from logdata where song in  (select title from songs) ;

 * postgresql://student:***@127.0.0.1/sparkifydb
4 rows affected.

[(3813, 1542171963796, 10, 'free', 'Intro', 'Percubaba', Decimal('124.78649'), 484, 'Washington-Arlington-Alexandria, DC-VA-MD-WV', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (4274, 1542618860796, 24, 'paid', 'Intro', 'Calvin Richardson', Decimal('76.25098'), 672, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (5662, 1542837407796, 15, 'paid', 'Setanta matins', 'Elena', Decimal('269.58322'), 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (6315, 1543358159796, 80, 'paid', 'Intro', 'Samy Deluxe', Decimal('238.36689'), 992, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

As seen from resuls of the above query, there are 4 log records that match the songs data used in this analysis.  Further queries (see below) show that the song with title Intro has a duration of 76 in the songs database which does not match the song  length in the log files for this song. As a result,  the one record in songsplay with valid song id and artist id in is the one for which there is a song record in songs table and the artist id matches the artist in the log file and the duration from songs matches the length from logdata.

In [17]:
%sql select song_id, artist_id, title, duration from songs where title in ('Intro', 'Setanta matins');

 * postgresql://student:***@127.0.0.1/sparkifydb
2 rows affected.

[('SOGDBUF12A8C140FAA', 'AR558FS1187FB45658', 'Intro', 76),
 ('SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 'Setanta matins', 270)]

In [18]:
%sql select song_id, songs.artist_id, artists.name, title, duration from songs inner join artists on songs.artist_id=artists.artist_id where title in ('Intro', 'Setanta matins');

 * postgresql://student:***@127.0.0.1/sparkifydb
2 rows affected.

[('SOGDBUF12A8C140FAA', 'AR558FS1187FB45658', '40 Grit', 'Intro', 76),
 ('SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 'Elena', 'Setanta matins', 270)]

### Find out how many artists from log files are actually present in the artists table.

In [19]:
%sql select * from logdata where artist in (select name from artists) order by artist ;

 * postgresql://student:***@127.0.0.1/sparkifydb
21 rows affected.

[(3288, 1541519910796, 30, 'paid', "Hasn't Hit Me Yet", 'Blue Rodeo', Decimal('310.9873'), 130, 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (5662, 1542837407796, 15, 'paid', 'Setanta matins', 'Elena', Decimal('269.58322'), 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (4339, 1542641764796, 49, 'paid', 'Ming Tran', 'Gob', Decimal('154.17424'), 724, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (4129, 1542226599796, 101, 'free', 'Danger Zone', 'Gwen Stefani', Decimal('216.76363'), 603, 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (2435, 1541967558796, 80, 'paid', 'I Love You So Much It Hurts', 'Jimmy Wakely', Decimal('165.74649'), 435, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (1929, 1542918438796, 6, 'free', 'Le Soir', 'Line Renaud', Decimal('176.16934'), 763, 'Atlanta-Sandy Springs-Roswell, GA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0'),
 (6734, 1542313967796, 44, 'paid', 'Lady', 'Lionel Richie', Decimal('265.89995'), 619, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (2751, 1543063377796, 80, 'paid', "Don't Wanna Lose You", 'Lionel Richie', Decimal('301.68771'), 903, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (4990, 1542469032796, 73, 'paid', 'Hello', 'Lionel Richie', Decimal('249.62567'), 518, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (257, 1543523363796, 49, 'paid', 'Still', 'Lionel Richie', Decimal('310.69995'), 1041, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (3291, 1541520284796, 2, 'free', 'Hurt Me Soul (Explicit Album Version)', 'Lupe Fiasco', Decimal('262.89587'), 126, 'Plymouth, IN', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (4439, 1541836071796, 44, 'paid', 'Shining Down [feat. Matthew Santos] (Amended Album Version)', 'Lupe Fiasco', Decimal('273.94567'), 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (1657, 1543447377796, 24, 'paid', 'The Coolest (Explicit Album Version)', 'Lupe Fiasco', Decimal('312.92036'), 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (3321, 1541529271796, 97, 'paid', 'American Terrorist [feat. Matthew Santos] (Explicit Album Version)', 'Lupe Fiasco', Decimal('280.52853'), 293, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (4034, 1542201086796, 34, 'free', 'Shining Down [feat. Matthew Santos] (Amended Album Version)', 'Lupe Fiasco', Decimal('273.94567'), 495, 'Milwaukee-Waukesha-West Allis, WI', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (2637, 1543031301796, 88, 'paid', 'Damn I Wish I Was Your Lover', 'Sophie B. Hawkins', Decimal('323.39546'), 888, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (4440, 1541836344796, 44, 'paid', "Runnin' Down A Dream", 'Tom Petty', Decimal('263.23546'), 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (4470, 1541842807796, 44, 'paid', 'Square One (Album Version)', 'Tom Petty', Decimal('204.82567'), 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (4376, 1542660241796, 42, 'paid', "Runnin' Down A Dream", 'Tom Petty', Decimal('263.23546'), 632, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (4406, 1542666522796, 25, 'paid', "Runnin' Down A Dream", 'Tom Petty', Decimal('263.23546'), 594, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (5241, 1543255030796, 29, 'paid', 'Dirty Word', 'Trafik', Decimal('380.21179'), 924, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [20]:
%sql select song_id, title, s.artist_id from songs s where artist_id in (select artist_id from artists where name in (select artist from logdata));

 * postgresql://student:***@127.0.0.1/sparkifydb
11 rows affected.

[('SOFFKZS12AB017F194', 'A Higher Place (Album Version)', 'ARBEBBY1187B9B43DB'),
 ('SOWQTQZ12A58A7B63E', 'Streets On Fire (Explicit Album Version)', 'ARPFHN61187FB575F6'),
 ('SONWXQJ12A8C134D94', 'The Ballad Of Sleeping Beauty', 'ARNF6401187FB57032'),
 ('SOUPIRU12A6D4FA1E1', 'Der Kleine Dompfaff', 'ARJIE2Y1187B994AB7'),
 ('SORRZGD12A6310DBC3', 'Harajuku Girls', 'ARVBRGZ1187FB4675A'),
 ('SOQVMXR12A81C21483', 'Salt In NYC', 'ARKULSX1187FB45F84'),
 ('SOWTBJW12AC468AC6E', 'Broken-Down Merry-Go-Round', 'ARQGYP71187FB44566'),
 ('SOBONFF12A6D4F84D8', 'Tonight Will Be Alright', 'ARIK43K1187B9AE54C'),
 ('SOHUOAP12A8AE488E9', 'Floating', 'ARD842G1187B997376'),
 ('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4'),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099')]

Out of these 11 records the song with the title 'Setanta matins' has a corresponding song play event in the logs. The other 10 records are not present in songplay as the corresponding songs are not part of the songs files provided for the project.

In [21]:
%sql select song_id, title, s.artist_id, a.name from songs s inner join artists a on s.artist_id=a.artist_id where s.artist_id in (select artist_id from artists where name in (select artist from logdata));

 * postgresql://student:***@127.0.0.1/sparkifydb
11 rows affected.

[('SOFFKZS12AB017F194', 'A Higher Place (Album Version)', 'ARBEBBY1187B9B43DB', 'Tom Petty'),
 ('SOWQTQZ12A58A7B63E', 'Streets On Fire (Explicit Album Version)', 'ARPFHN61187FB575F6', 'Lupe Fiasco'),
 ('SONWXQJ12A8C134D94', 'The Ballad Of Sleeping Beauty', 'ARNF6401187FB57032', 'Sophie B. Hawkins'),
 ('SOUPIRU12A6D4FA1E1', 'Der Kleine Dompfaff', 'ARJIE2Y1187B994AB7', 'Line Renaud'),
 ('SORRZGD12A6310DBC3', 'Harajuku Girls', 'ARVBRGZ1187FB4675A', 'Gwen Stefani'),
 ('SOQVMXR12A81C21483', 'Salt In NYC', 'ARKULSX1187FB45F84', 'Trafik'),
 ('SOWTBJW12AC468AC6E', 'Broken-Down Merry-Go-Round', 'ARQGYP71187FB44566', 'Jimmy Wakely'),
 ('SOBONFF12A6D4F84D8', 'Tonight Will Be Alright', 'ARIK43K1187B9AE54C', 'Lionel Richie'),
 ('SOHUOAP12A8AE488E9', 'Floating', 'ARD842G1187B997376', 'Blue Rodeo'),
 ('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', 'Elena'),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 'Gob')]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).